*{
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
}
body{
  background-color: #e1ceb642;
}
.container-1{
  height: 580px;
  background-image: url(assets/img/contact-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10%;
  background-attachment: fixed;
  padding-top: 70px;
}
::selection{
  background-color: #c0b29f;
}
.container-1 header{
  height: 76px;
  width: 65%;
  margin: 9px auto;
  background-color: #fdfdfd;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  border-radius: 50px;
}
.container-1 header .links{
  margin-top: 23px;
}
.container-1 header .links ul li a{
  text-decoration: none;
  color: #5d4739;
  font-weight: 600;
  font-size: 20px;
}
.container-1 header .links-l ul li a{
  margin-left: 20px;
}
.container-1 header .links-r ul li a{
  margin-right: 20px;
}
.container-1 header .links ul li a:hover{
  color: #e1ceb6;
}
.container-1 header .logo img{
  width: 160px;
  border: 14px solid #fdfdfd;
  border-radius: 83px;
  margin-top: -42px;
  transition: all 0.3s linear ;
  cursor: pointer;
}
.container-1 header .logo img:hover{
  transform: rotate(360deg);
}
.container-1 h1{
  margin-top: 175px;
  font-family: 'Dancing Script', cursive;
  font-weight: 800;
  font-size: 56px;
  color: #e1ceb6;
  text-align: center; 
}
.menu{
  height: 880px;
  padding: 90px;
}
.menu h2 , .menu h2 span{
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-weight: 800;
  font-size: 56px;
  color: #48382e;
  margin-bottom: 40px;
}
.menu .cards{
  height: 584px;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}
.menu .cards .item{
  height: 153px;
  width: 460px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.menu .cards .item img{
  width: 132px;
  height: 119px;
  transition: all 0.6s linear;
  cursor: pointer;
}
.menu .cards .item img:hover{
  transform: scale(1.2);
}
.menu .cards .item h3{
  font-weight: 700;
  color: #48382e;
}
.menu .cards .item p{
  color: #DA9F5B;
}
.menu .cards .item .price{
  color: #48382e;
  height: 56px;
  font-size: 22px;
  font-weight: 600;
  /* margin-left: 11px; */
  padding-top: 4px;
}
.menu a{
  text-decoration: none;
  text-align: center;
  color: #DA9F5B;
  font-size: 21px;
  font-weight: 700;
  transition: all .5s cubic-bezier(.5,.12,.46,.88);
  /* margin-top: 20px; */
  display: block;
}
.menu a:hover{
  color: #48382e;
}
footer{
  background: linear-gradient(rgba(51,33,29,0.9), rgba(51,33,29,0.9)),url(assets/img/bg.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 95px;
  margin-top: 100px;
}
footer .top-footer{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
footer div{
  width: 18%;
  height: 370px;
}
footer div h2{
  font-weight: 600;
  color: #d38d3c;
  font-size: 30px;
  text-align: center;
  margin-bottom: 33px;
}
footer div ul{
  list-style: none;
}
footer .about{
  text-align: center;
  margin-top: 24px;
}
footer .about img{
  width: 120px;
}
footer .about p, footer .contact p{
  font-weight: 500;
  font-size: 18px;
  color: #e4d3bd;
  margin-top: 30px;
}
footer .about p{
  text-align: center;
}
footer .open-hours .days{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  width: 240px;
  text-align: center;
}
footer .open-hours .days ul li{
  line-height: 2.5;
  font-size: 18px;
  color:#ebe4d8;
  font-weight: 200;
}
footer .open-hours .days ul:first-child li{
  font-weight: 500;
  font-size: 20px;
  line-height: 2.2;
  color: #e4d3bd;
}
footer .contact .ul-contact{
  margin-left: -30px;
}
footer .contact .ul-contact li{
  line-height: 2.5;
  font-size: 18px;
  color:#ebe4d8;
}
footer .contact .ul-contact li i,
footer .locations ul li i{
  color: #d38d3c;
  margin-right: 10px;
}
footer .contact .ul-contact li a{
  text-decoration: none;
  color:#ebe4d8;
  font-weight: 200;
}
footer .locations ul li span{
  font-size: 18px;
  color:#ebe4d8;
  font-weight: 400;
}
footer .copyright{
  width: 100%;
  background-color: #33211D;
  margin-top: 48px;
  height: 60px;
  padding: 11px 155px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
footer .copyright p{
  font-size: 17px;
  font-weight: 300;
  color:#ebe4d8;
}
footer .copyright p span{
  color: #d38d3c; 
  font-weight: 600;
}
footer .copyright p .heart{
  font-size: 15px;
  margin-left: 2px;
  margin-right: 2px;
  color: #d38d3c;
  cursor: pointer;
}
footer .copyright .icon-social{
  font-size: 15px;
  float: right;
  margin-left: 20px;
  color: #d38d3c;
  cursor: pointer;
  transition: all 0.7s linear;
}
footer .copyright .icon-social:hover{
  color: #e1ceb6;
}